// Cores
$primary: #0e4166;
$secondary: #7928ca;
$text-light: #ffffff;
$accent: #ff8800;
$card-bg: #ddebea;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
$font-family: "Lato", sans-serif;

// Espaçamentos
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
