footer {
    margin-bottom: 0;
    padding: 5%;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}

.logo {
    width: 45px;
    height: 45px;
}

.social-media p {
    bottom: 15px;
    position: relative;
    font-size: 14px;
    text-align: center;
}

.autor{
    color: azure;
    font-size: large;
}

@media (max-width: 425px) {
    footer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo {
        width: 30px;
        height: 30px;
        gap: 5px;
    }

    .social-media p {
        font-size: 12px;
        margin-top: 5px;
        text-align: center;
        position: static;
    }
}