header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 12%;
    color: aliceblue;
    padding: 0; 
    text-align: center;
    gap: 5px;
}

header h3 {
    width: 100%; 
    margin-bottom: 10px;
    font-size: 20px;
}

header h1 {
    display: inline;
    font-size: 40px;
    margin: 10px 0; 
}

.nome {
    color: rgb(255, 136, 0);
}

.nome::selection {
    color: rgb(4, 137, 245);
    background-color: aquamarine;
}

article {
    font-size: 20px;
    margin: 20px auto; 
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    max-width: 1500px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

img {
    float: right;
}

.file-curriculo {  
    margin-top: 8%;
    padding: 1rem;
    border-radius: 15rem;
    border: none;
    background-color: azure;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
        margin: 10%; 
    }

    header h3 {
        font-size: 15px;
    }
    header h1 {
        font-size: 35px;
        margin: 5px 0; 
    }

    article p {
        font-size: large; 
        font-size: 15px;
        margin: 0;
    }

    .file-curriculo {
        font-size: small;
        padding: 8px;
    }
}
