@use "./styles/variables" as *;
@use "./styles/mixins" as mix;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body {
  @include mix.flex-center;
  position: relative;
  font-family: $font-family;
  background-color: $primary;
  background-image: linear-gradient(to bottom, rgba($primary, 0.86), $primary);
  color: $text-light;
  min-height: 100vh;
  padding-top: 60px;
}

.app-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
