article {
    padding: 15%;
}

.title {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 14rem;
    top: 30rem;
    font-size: 30px;
    color: aliceblue;
}

article p {
    font-size: x-large;
    position: absolute;
}

img {
    float: right;
}
