footer {
    margin-bottom: 0;
    padding: 10%;
    /* border: 2px solid red;  */
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 8;
    justify-items: center;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.social-media p {
    bottom: 15px;
}

