header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 12%;
    color: aliceblue;
    /* border: 2px solid red; */
    padding: none;
    gap: 5px;
}

header h3 {
    width: 40%;
    margin-bottom: 10px;
}

header h1 {
    display: inline;
    flex-direction: row;
    font-size: 40px;
}

.nome {
    color: darkorange;
    border-color: chocolate;
}

.nome::selection {
    color:azure;
    background-color: darkgrey;
}