header {
    margin-top: 16%;
    color: aliceblue;
    border: 2px solid red;
    padding-top: 22px;
}

header h3 {
    width: 40%;
}

.nome {
    color: darkorange;
    border-color: chocolate;
}

.nome::selection {
    color:azure;
    background-color: darkgrey;
}