@use '../../styles/variables' as *;

.projectsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}


.project {
  display: block;
  margin: 3rem $spacing-md;
  padding: $spacing-lg;
  border-radius: 15px;
  max-width: 80%;
  text-align: center;
  font-size: 1.5rem;
  z-index: 0;
  background-color: $card-bg;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  .title {
    color: $text-light;
    margin: $spacing-md;
    z-index: 3;
    font-weight: bolder;
  }

  .image_project {
    width: 100%;
    height: 80%;
    max-width: 80vw;
    border-radius: 10px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .projectsConatainer {
    padding: $spacing-sm;
  }

  .project {
    margin: 1rem 0;
    padding: $spacing-md;
  }
}